export(computePI)
export(computePIcpp)
export(computePL)
export(computePLcpp)
export(computePS)
export(computePScpp)
export(computeVAB)
export(computeVABcpp)
export(computeVPB)
export(computeVPBcpp)
importFrom(Rcpp, evalCpp)
importFrom("stats", "pnorm")
useDynLib(TDAvec, .registration = TRUE)

